<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='uswds-2.7.0/css/uswds.min.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.blockUI.min.js') }}"></script>
</head>

<body>
    <!-- block ui -->
    <script type="text/javascript">$.blockUI({ message: '<h2>Loading...</h2>' });</script>

    <!-- main content -->
    <div id="main">
        <div><a href="{{ url_for('landing_page') }}" style="margin-bottom: 1rem;">&larr; Back to Homepage</a></div>
        <div id="accepted"></div>
        {% include 'form.html' %}
    </div>

    <!-- js -->
    <script src="{{ url_for('static', filename='js/jquery_form.js') }}"></script>
    <script src="{{ url_for('static', filename='uswds-2.7.0/js/uswds.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            bindButtonClick();
            bindFormSubmit();
        });

        function bindButtonClick() {
            $('#submit').click(function () {
                $.blockUI({
                    message: '<h2>Processing</h2>',
                    css: { border: '3px solid #a00' }
                });
            });
        }

        function processJson(data) {
            $(".error").empty();
            $.unblockUI();

            if (data.status == "success") {
                $('form').remove();
                $('#accepted').append(data.accepted);
                $('#main').append(data.payload);
                $("input#answer").val("");
            } else if (data.status == "error") {
                alert("Please correct the errors in the form!");

                Object.keys(data.payload).forEach(function (key) {
                    var el = "#" + key;
                    $(el).next(".error").text(data.payload[key].join(" "));
                });
            } else if (data.status == "fail") {
                $('form').remove();
                $('#main').append(data.payload);
            } else {
                console.log("Something went wrong!");
            }

            // required to rebind elements and 
            // event handlers after ajax returns.
            bindButtonClick();
            bindFormSubmit();
        }

        function populateHiddenField(data, jqForm, opts) {
            // this is for application form to work properly
            var field = data.find(el => el.name == "accepted_bits");
            if (typeof field !== "undefined") {
                var accepted_bits = "";
                $("#accepted h3").each(function (idx) {
                    accepted_bits += $(this).text();
                    accepted_bits += "\n";
                });
                field.value = accepted_bits;
            }
            return true;
        }

        function bindFormSubmit() {
            $('#question-form').ajaxForm({
                dataType: 'json',
                beforeSubmit: populateHiddenField,
                success: processJson
            });
        }
    </script>

    <!-- unblock ui -->
    <script type="text/javascript">$.unblockUI();</script>
</body>

</html>